html {
    height: 100%;
    margin: 0 auto;
}

body {
    margin: 0 auto;
    background-color: white;
    height: 100%;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.imageCrop {
    height: 3000;
    /*height: 2924;*/
    background-image: url(images/bg1.jpg);
    background-position-x: 11px;
}

.spacer {
    height: 100px;
    margin: 0 auto;
}

.somLogo {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.foot {
    z-index: 10;
    color: red;
    font-family: 'Patua One', cursive;
    font-size: 16px;
    width: 100%;
    height: 40px;
}

.footText {
    float: right;
    padding: 12;
    color: black;
}

nav {
    float: left;
    z-index: -1000;
    font-size: 30px;
    margin: 0 0 20 -80px;
}

li {
    color: white;
    list-style: none;
}

/* unvisited link */

a:link {
    color: red;
}

/* visited link */

a:visited {
    color: green;
}

/* mouse over link */

a:hover {
    color: hotpink;
}

/* selected link */

a:active {
    color: blue;
}

.snesLogo {
    padding: 10px;
    float: left;
    width: 150px;
}

.squareLogo {
    padding: 10px;
    float: left;
    width: 150px;
}

.parallax-window {
    min-height: 100px;
    height: 5000px;
    width: 100%;
    background: transparent;
}

p,
h1 {
    background-color: white;
    padding: 20;
    font-family: 'Patua One', cursive;
    font-size: 16pt;
    color: black;
    letter-spacing: 6px;
    max-width: 600px;
}

h1 {
    font-size: 30px;
    background-color: pink;
}

.inImage {
    height: auto;
    width: 100%;
    min-width: 20%;
}

#logo1 {}

/*Grid Setup*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1000px 1000px 1200px 900px 100px;
    grid-template-areas: "boxart" "boxart2" "boxart3" "boxart4" "boxart5";
}

.boxart,
.boxart3 {
    margin: 0 20 0 40;
}

.boxart4,
.boxart2 {
    margin: 0 40 0 20;
}

.boxart5 {
    margin: 0 auto;
}

#img1,
#img3 {
    float: left;
}

#txt1,
#txt3 {
    float: left;
}

#img2,
#img4 {
    float: right;
}

#txt2,
#txt4 {
    float: right;
}

.ani2 {
    margin: 0 auto;
    padding: 15 10 10 10;
    float: right;
}

iframe {
    min-height: 400px;
    width: 100%;
}

.p1img {
    position: fixed;
    margin-top: -400;
    margin-left: 340;
}

.p2img {
    position: fixed;
    margin-top: -60;
    margin-left: -80;
}

.p3img {
    position: fixed;
    margin-top: -600;
    margin-left: 300;
}

.p4img {
    position: fixed;
    margin-top: -600;
    margin-left: 300;
}